<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p><strong>Author: </strong><%= @article.user.username if @article.user %></p>
<%= link_to gravatar_for(@article.user), user_path(@article.user) %>
<br><br>
<%= link_to 'Edit', edit_article_path(@article) %> |    <!-- | just serves as a separation between the actions -->
<%= link_to 'Delete', article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} %> |
<%= link_to 'Return to articles listing', articles_path %>