<h1>Alpha Bloggers</h1>

<%= will_paginate @articles %>

<%= link_to "Return to home page", root_path %>
<br><br>

<% @users.each do |user| %>
  <div>
    <td><%= link_to user.username, user %></td> 
          <!-- can replace this -> user_path(user) with user since it is so common -->
    <%= link_to gravatar_for(user, size: 150), user %>
    <%= pluralize(user.articles.count, "article") %>  
          <!-- if user has 1 article, will say 1 article; if more, then articles -->
    <%= link_to "View profile", user %>
    <% if logged_in? %>
      <% if user == current_user %>
        <%= link_to "Edit profile", edit_user_path(user) %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "Delete user", user_path(user), method: :delete, 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this user and all associated articles?" } %>
      <% end %>
    <% end %>
  </div>
  <div>
    <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
  </div>
  <br>
<% end %>