<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>
<!-- if omit size, then will take default size found in app/helpers/application_helper.rb -->

<% if logged_in? && @user == current_user %>
  <%= link_to "Edit your profile", edit_user_path(@user) %> |
  <!-- config/routes.rb, contains resources :users, which gives all user actions --> 
  <%= link_to "Delete your profile", user_path(current_user), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<h3>Articles</h3>

<%= render 'articles/article' %>