<h1>This is the home page for alpha-blog</h1>

<% if logged_in? %>
  <% if current_user.admin? %>
    <%= link_to "(Admin) " +  current_user.username, user_path(current_user) %>
  <% else %>
    <%= link_to current_user.username, user_path(current_user) %>
  <% end %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
	<%= link_to "Log in", login_path %>
	<%= link_to "Sign up", signup_path %> |
<% end %>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %> | 
<%= link_to 'Bloggers', users_path %>